[user]
	name = Magnus Hauge Bakke
	email = magnus@idrift.no
[github]
	user = Bakke
[color]
	ui = true
[push]
	default = current
[alias]
	shorty = status --short --branch
	commend = commit --amend --no-edit
	praise = blame
[grep]
	extendRegexp = true
[core]
	editor = nvim
	excludesfile = ~/.dotfiles/git/.gitignore
[pull]
	rebase = true
[advice]
	pushNonFastForward = false
	statusHints = false
[diff]
	mnemonicprefix = true
